@import "nullstyle.scss";

body{
    font-family: 'League Spartan', sans-serif;
}

.header-container{
    display: flex;
    margin: 0 auto;
    width: 1440px;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #f8f8f8;
}